.env
.vscode
*pycache*
langgraph-course-9c8529a52e6b.json
tests/*
scripts/output/
scripts/vectorstores/
ffx-consultant/*
service/consultation_company/agents/bak/*
service/__pycache__/*
service/ffx-consultant-prod/
service/requirements-bak.txt
service/__pycache__/
service/consultation_company/vectorstores/web_scraping_data/